<div class="border-2 border-black flex p-[3%] justify-between md:w-[60%] mx-auto">
  <div>
    <h2 class="font-extrabold"><%= public_recipe.name %></h2>
    <p>by<br> <span><%= @users.find_by(id: public_recipe.user_id).name %></span></p>
  </div>
  <div>
    <p>Total food items: <span class="font-extrabold"><%= public_recipe.recipe_foods.count %></span></p>
    <p>Total price:
      <% total_price = 0 %>
      <% public_recipe.recipe_foods.each do |recipe_foods|  %>
        <% total_price += recipe_foods.quantity * @foods.find_by(id: recipe_foods.food_id).price %>
      <% end %>
      <span class="font-extrabold">$<%= total_price %></span>
    </p>
  </div>
</div>