<div class="border-2 border-black flex gap-[5%] p-[3%]">
  <div>
    <h2 class="text-xl font-extrabold"><%= recipe.name %></h2>
    <a href="#" class="font-medium text-blue-600 underline hover:no-underline">REMOVE</a>
  </div>
  <div class="w-[65%]">
    <p><%= recipe.description %></p>
  </div>
</div>