<div class="add-food-btn-container">
        <a href=<%= new_food_path %> class = "add-food-btn">Add Food</a>
</div>

<table class="table-auto">
    <thead>
        <tr>
            <th>Food</th>
            <th>Measurement Unit</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @foods.each do |food| %>
            <%= render partial: 'food', locals: {food: food}%>
        <% end %>
    </tbody>
</table>
